<div class="bin">
<div style="margin-left:20px;">
    <button class="btn btn-space" class="btn btn-primary" style="margin-top: 3%;font-size: large;  " routerLink="" >Home</button>
    <button  class="btn btn-space"  class="btn btn-primary" style="margin-top: 3%;margin-left:4%;font-size: large;" routerLink="/registartion" id="loginbtn">Registration</button><br>
<h1 style="text-align: center; color:white; text-decoration-color:black; font-weight: bold;">Welcome To Student Management Portal</h1>
</div>
</div>